.button{
  display: inline-block;
  margin: auto;
  padding: .6563rem 3rem;
  background-color: var(--button-color);
  border-radius: 8px;

  &:hover{
    background-color: var(--hover-button-color);
  }
}